body {
    margin: 0;
    padding: 0;
    background-color: #0d1117;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    width: 350px;
    margin: 120px auto;
    background-color: #161b22;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 12px #000;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 6px;
    border: none;
    background-color: #0d1117;
    color: white;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 6px;
    background-color: #238636;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #2ea043;
}